.responsive_img {
    display: block;
    width: 220px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.img {
    object-fit: contain;
}

@media screen and (min-width: 750px) {
    .responsive_img {
        width: 400px;
    }
}