.holder {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.responsive_img {
    display: block;
    width: 14rem;
    height: 3rem;
    overflow: hidden;
    position: relative;
}

.img {
    object-fit: contain;
}

@media screen and (min-width: 750px) {
    .responsive_img {
        width: 25rem;
    }

    .holder {
        justify-content: flex-end;
        width: auto;
        flex-grow: 1;
    }
}