.emailbox {
    width: 20rem;
    margin: 0;
}

.emailbox:hover {
    background-color: rgba(255, 255, 255, 0.218);
}

.button {
    margin: 0;
    margin-top: 1rem;
}

@media screen and (min-width: 530px) {
    .button {
        margin-left: 1rem;
    }
}